@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400');

body {
  color: #212529;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.purple-background { background-color: #6f42c1; }
.table { background: white; }
.element { color: green; }

// highlight for drag and drop functionality
.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }

// header navbar dropdown on top of all other content
.dropdown { z-index: 9999; }

// simple_form input for rich_text_area
trix-editor.form-control {
  height: auto;
}

//custom bootstrap button color
$custompurple:#6f42c1;
.btn-custom-purple {
  color: #fff;
  background-color: $custompurple;
  border-color: $custompurple;
}
