- content_for :title do
  Corsego
  \|
  = controller_name.humanize
  = action_name.humanize

%h1
  Courses:
  = @courses.count

.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%br
