- content_for :title do
  = @course.title

.ol.breadcrumb
  .li.breadcrumb-item
    = link_to 'Courses', courses_path
  .li.breadcrumb-item.active
    = @course.title
%p
= render 'courses/course', course: @course